table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
table tr th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 6px 13px;
}
table tr th td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 6px 13px;
}
th {
    text-align:left;
}

